<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 5px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th {
    background-color: black;
    color: white;
}
.withC {
    position:relative;
}

.CellComment{
    display:none;
    position:absolute;
    z-index:100;
    border:1px;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:red;
    padding:3px;
    color:red;
    width: 150px;
    top:20px;
    left:20px;
}
.withC:hover span.CellComment{
    display:block;
}


</style>
<div>Total from Order Counts: <b>${{total}}</b></div>
<div>Jeff & Bruce - You're names don't show, everyone else's should.</div>

<div>
<table>
    <col width="15">
    <col width="45">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="5">
    <col width="5">
    <tr>
    <th>Item</th>
    <th>Description</th>
    <th>XS</th>
    <th>SM</th>
    <th>MD</th>
    <th>LG</th>
    <th>XL</th>
    <th>XXL</th>
    <th>XXXL</th>
    <th>TOTAL</th>
    <th>$$</th>
  </tr>
{{# each counts }}
     <tr>
    <td>{{ this.item }}</td>
    <td>{{ this.title }}</td>
         <td {{# if this.peeps.XS }}class="withC"{{/if}}>{{ this.XS }}<span class="CellComment">{{# each this.peeps.XS }}{{ this }}</br>{{/each}}</span></td>
    <td {{# if this.peeps.SM }}class="withC"{{/if}}>{{ this.SM }}<span class="CellComment">{{# each this.peeps.SM }}{{ this }}</br>{{/each}}</span></td>
    <td {{# if this.peeps.MD }}class="withC"{{/if}}>{{ this.MD }}<span class="CellComment">{{# each this.peeps.MD }}{{ this }}</br>{{/each}}</span></td>
    <td {{# if this.peeps.LG }}class="withC"{{/if}}>{{ this.LG }}<span class="CellComment">{{# each this.peeps.LG }}{{ this }}</br>{{/each}}</span></td>
    <td {{# if this.peeps.XL }}class="withC"{{/if}}>{{ this.XL }}<span class="CellComment">{{# each this.peeps.XL }}{{ this }}</br>{{/each}}</span></td>
    <td {{# if this.peeps.XXL }}class="withC"{{/if}}>{{ this.XXL }}<span class="CellComment">{{# each this.peeps.XXL }}{{ this }}</br>{{/each}}</span></td>
    <td {{# if this.peeps.XXXL }}class="withC"{{/if}}>{{ this.XXXL }}<span class="CellComment">{{# each this.peeps.XXXL }}{{ this }}</br>{{/each}}</span></td>
     <td>{{ this.sum}}</td>
     <td>{{ this.value }}</td>
    </tr>
    {{# each this }}
    {{/each}}
{{/each}}
</table>
</div>
