<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 5px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th {
    background-color: black;
    color: white;
}
.withC {
    position:relative;
}

.CellComment{
    display:none;
    position:absolute;
    z-index:100;
    border:1px;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:red;
    padding:3px;
    color:red;
    width: 150px;
    top:20px;
    left:20px;
}
.withC:active span.CellComment{
    display:block;
}
.tooltip-inner {
    white-space:pre-wrap;
}

</style>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<div>Total from Order Counts: <b>${{total}}</b></div>
<div>Jeff & Bruce - You're names don't show, everyone else's should.</div>

<div>
<table>
    <col width="15">
    <col width="45">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="3">
    <col width="5">
    <col width="5">
    <tr>
    <th>Item</th>
    <th>Description</th>
    <th>XS</th>
    <th>SM</th>
    <th>MD</th>
    <th>LG</th>
    <th>XL</th>
    <th>XXL</th>
    <th>XXXL</th>
    <th>TOTAL</th>
    <th>$$</th>
  </tr>
{{# each counts }}
     <tr>
    <td>{{ this.item }}</td>
    <td>{{ this.title }}</td>
<td> {{# if this.peeps.XS }} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="{{# each this.peeps.XS }}{{ this }}
{{/each}}">{{/if}}{{ this.XS }}{{# if this.peeps.XS }} </button>{{/if}}</td>
<td> {{# if this.peeps.SM }} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="{{# each this.peeps.SM }}{{ this }}
{{/each}}">{{/if}}{{ this.SM }}{{# if this.peeps.SM }} </button>{{/if}}</td>
<td> {{# if this.peeps.MD }} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="{{# each this.peeps.MD }}{{ this }}
{{/each}}">{{/if}}{{ this.MD }}{{# if this.peeps.MD }} </button>{{/if}}</td>
<td> {{# if this.peeps.LG }} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="{{# each this.peeps.LG }}{{ this }}
{{/each}}">{{/if}}{{ this.LG }}{{# if this.peeps.LG }} </button>{{/if}}</td>
<td> {{# if this.peeps.XL }} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="{{# each this.peeps.XL }}{{ this }}
{{/each}}">{{/if}}{{ this.XL }}{{# if this.peeps.XL }} </button>{{/if}}</td>
<td> {{# if this.peeps.XXL }} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="{{# each this.peeps.XXL }}{{ this }}
{{/each}}">{{/if}}{{ this.XXL }}{{# if this.peeps.XXL }} </button>{{/if}}</td>
<td> {{# if this.peeps.XXXL }} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="{{# each this.peeps.XXXL }}{{ this }}
{{/each}}">{{/if}}{{ this.XXXL }}{{# if this.peeps.XXXL }} </button>{{/if}}</td>
     <td>{{ this.sum}}</td>
     <td>{{ this.value }}</td>
    </tr>
    {{# each this }}
    {{/each}}
{{/each}}
</table>
</div>
